.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: auto;
  background-image: url("images/310451529_789286865381374_1217006715365801831_n.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 5px;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 23px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  margin: 32px 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    padding: 14px 62px 15px 61px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 383px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("images/img.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 818px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-text-1 {
  width: 889px;
  font-weight: 700;
  font-style: italic;
  margin: 133px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-block-a5c8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a5c8-3 {
  position: absolute;
  left: 0;
}

.u-block-a5c8-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: linear-gradient(#b3b3b3, #f2f2f2);
}

.u-section-4-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-4-1 .u-text-1 {
  margin: 194px 34px 0;
}

.u-section-4-1 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-4-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4-1 .u-text-2 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-5 .u-shape-1 {
  height: 256px;
  width: 311px;
  margin: 67px 0 0 49px;
}

.u-section-5 .u-image-1 {
  width: 308px;
  height: 263px;
  margin: -322px 0 59px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 215px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 215px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 322px;
}

.u-section-5 .u-shape-2 {
  height: 256px;
  width: 311px;
  margin: 67px 0 0 49px;
}

.u-section-5 .u-image-2 {
  width: 308px;
  height: 263px;
  margin: -322px 0 59px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-5 {
  padding-right: 0;
}

.u-section-5 .u-shape-3 {
  height: 256px;
  width: 311px;
  margin: 67px 0 0 49px;
}

.u-section-5 .u-image-3 {
  width: 308px;
  height: 263px;
  margin: -322px 0 59px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 215px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5 .u-shape-1 {
    height: 226px;
    width: 244px;
    position: relative;
  }

  .u-section-5 .u-image-1 {
    width: 243px;
    margin-top: -294px;
    margin-bottom: 30px;
    position: relative;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-shape-2 {
    height: 226px;
    width: 244px;
    position: relative;
  }

  .u-section-5 .u-image-2 {
    width: 243px;
    margin-top: -294px;
    margin-bottom: 30px;
    position: relative;
  }

  .u-section-5 .u-shape-3 {
    height: 226px;
    width: 244px;
    position: relative;
  }

  .u-section-5 .u-image-3 {
    width: 243px;
    margin-top: -293px;
    margin-bottom: 30px;
    position: relative;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-5 .u-shape-1 {
    height: 243px;
    width: 243px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-top: -317px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-shape-2 {
    height: 243px;
    width: 243px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-top: -318px;
    margin-right: auto;
    margin-bottom: 31px;
  }

  .u-section-5 .u-shape-3 {
    height: 243px;
    width: 243px;
    margin-top: 68px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-5 .u-image-3 {
    width: 287px;
    height: 287px;
    margin-top: -313px;
    margin-right: auto;
    margin-bottom: 26px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-shape-1 {
    height: 255px;
    width: 255px;
    margin-top: 66px;
    margin-right: 74px;
  }

  .u-section-5 .u-image-1 {
    width: 308px;
    height: 263px;
    margin-top: -292px;
    margin-left: 116px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 318px;
  }

  .u-section-5 .u-shape-2 {
    height: 255px;
    width: 255px;
    margin-top: 37px;
    margin-right: 74px;
  }

  .u-section-5 .u-image-2 {
    width: 308px;
    height: 263px;
    margin-top: -292px;
    margin-bottom: 30px;
    margin-left: 116px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 318px;
  }

  .u-section-5 .u-shape-3 {
    height: 256px;
    margin-top: 37px;
    margin-right: 85px;
    margin-left: 211px;
    width: 244px;
  }

  .u-section-5 .u-image-3 {
    width: 308px;
    height: 263px;
    margin: -293px 0 30px 116px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 194px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-5 .u-shape-1 {
    height: 226px;
    margin-top: 67px;
    margin-right: 0;
    margin-left: 49px;
    width: 291px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -294px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-5 .u-shape-2 {
    height: 226px;
    margin-top: 67px;
    margin-right: 0;
    margin-left: 49px;
    width: 291px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -294px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 322px;
  }

  .u-section-5 .u-shape-3 {
    height: 226px;
    margin-top: 67px;
    margin-right: 0;
    margin-left: 49px;
    width: 291px;
  }

  .u-section-5 .u-image-3 {
    width: 293px;
    margin-top: -294px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 215px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 658px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 57px;
}

.u-section-6 .u-image-1 {
  min-height: 723px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-image-1 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-6 .u-image-1 {
    min-height: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-6 .u-image-1 {
    min-height: 686px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-image-1 {
    min-height: 432px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 177px;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 610px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 490px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-image-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 16px auto 0;
  padding: 2px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-image-2 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 16px auto 0;
  padding: 2px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-image-3 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 16px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 404px;
  }

  .u-section-8 .u-image-1 {
    height: 173px;
  }

  .u-section-8 .u-image-2 {
    height: 173px;
  }

  .u-section-8 .u-image-3 {
    height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 928px;
  }

  .u-section-8 .u-image-1 {
    height: 205px;
  }

  .u-section-8 .u-image-2 {
    height: 205px;
  }

  .u-section-8 .u-image-3 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 355px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 355px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 355px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 218px;
  }

  .u-section-8 .u-image-2 {
    height: 218px;
  }

  .u-section-8 .u-image-3 {
    height: 218px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 766px;
}

.u-section-9 .u-list-1 {
  margin-top: 58px;
  margin-bottom: 25px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 53.3333px));
  min-height: 683px;
  grid-gap: 80px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-9 .u-group-1 {
  min-height: 191px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 29px 0;
}

.u-section-9 .u-text-3 {
  text-align: center;
  letter-spacing: normal;
  width: 198px;
  margin: 0 auto;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 15px 68px 17px 66px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-9 .u-group-2 {
  min-height: 191px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 29px 0;
}

.u-section-9 .u-text-6 {
  text-align: center;
  letter-spacing: normal;
  width: 198px;
  margin: 0 auto;
}

.u-section-9 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 15px 68px 17px 66px;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-9 .u-group-3 {
  min-height: 191px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px 29px 0;
}

.u-section-9 .u-text-9 {
  text-align: center;
  letter-spacing: normal;
  width: 198px;
  margin: 0 auto;
}

.u-section-9 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 15px 68px 17px 66px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: -4px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 53.3333px));
    min-height: 544px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    line-height: 2;
    width: 103px;
  }

  .u-section-9 .u-group-2 {
    height: auto;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    line-height: 2;
    width: 103px;
  }

  .u-section-9 .u-group-3 {
    height: auto;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-9 {
    line-height: 2;
    width: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 39.999975px));
    min-height: 1419px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-3 {
    width: 213px;
  }

  .u-section-9 .u-text-6 {
    width: 213px;
  }

  .u-section-9 .u-text-9 {
    width: 213px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 527px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-10 .u-form-1 {
  height: 327px;
  width: 570px;
  margin: 28px auto 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-form-1 {
    width: 340px;
  }
}